grant {
   permission java.net.SocketPermission "*", "accept,connect";
   permission java.lang.RuntimePermission "createSecurityManager";
   permission java.lang.RuntimePermission "accessDeclaredMembers";
   permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};